@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oi&display=swap");

@font-face {
  font-family: "OCR A Extended";
  src: url("./fonts/ocr-a-extended.woff2") format("woff2"),
    url("./fonts/ocr-a-extended.woff") format("woff"),
    url("./fonts/ocr-a-extended.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "OCR A Extended", monospace;
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #424242 0%, #000000 100%);

  color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
  background: #424242;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #424242;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: #424242;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-size: 24.32px;
  font-weight: 400;
  line-height: 33.69px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.navigation__link:hover,
.navigation__link:focus {
  color: #32a071;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 65px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 50px 50px;
    z-index: 1000;
  }
  .header__background {
    border-radius: 0px 0px 50px 50px;
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 80px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 860px;

  padding: 116px 10px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/main.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Oi;
  font-size: 41.01px;
  font-weight: 400;
  line-height: 46.67px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.home-text {
  font-size: 24.32px;
  font-weight: 400;
  line-height: 26.69px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #32a071;
  padding: 21px 0 36px;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 720px;

    padding: 195px 687px 0px 0;
    background-image: url("/image/home/main\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    font-family: Oi;
    font-size: 50.56px;
    font-weight: 400;
    line-height: 67.29px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 514px;
  }

  .home-text {
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 439px;
    padding: 26px 0 44px;
  }
}
.why {
  width: 375px;

  margin: auto;
  padding: 90px 15px;
}

.why-list {
  padding-top: 60px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.why-item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.why-text-bold {
  font-family: Oi;
  font-size: 14px;
  font-weight: 300;
  line-height: 28.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: #32a071;
}
.why-text {
  padding-top: 10px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;

    margin: auto;
    padding: 100px 00px;
  }

  .why-list {
    padding-top: 80px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
    width: auto;
  }
  .why-item {
    width: 386px;
    display: flex;
    gap: 8px;
  }

  .why-text-bold {
    font-family: Oi;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .why-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.about {
  padding: 34px 16px 0px;
  margin: auto;
  width: 375px;
  height: 760px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/about/about\ us.png");
}

.about-title {
  font-family: Oi;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: #32a071;
}

.about-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 40px 0px 0;
}
.about_image {
  margin: auto;
  margin-top: 200px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 120px 46px 0px 840px;
    margin: auto;
    width: 1440px;
    height: 590px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/about/About\ Us\ \(1\).png");
  }

  .about-title {
    font-family: Oi;
    font-size: 48px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .about-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 40px 0px 0;
  }
  .about_image {
    margin: auto;
    margin-top: 40px;
  }
}

.reviews {
  width: 375px;
  height: 725px;

  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/reviews/benefits.png");
}

.reviews-list {
  width: auto;
  padding-top: 100px;

  margin: auto;
}
.reviews-item {
  margin: 0 5px;
  width: 300px;
  height: 434px;
  background: #000000;
  border-radius: 20px;
  padding: 17px 27px;
}
.reviews-img {
  margin: auto;
}
.reviews-text {
  padding-top: 33px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 608px;
    margin: auto;
    padding: 40px 40px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/reviews/benefits\ \(1\).png");
  }

  .reviews-list {
    width: auto;
    padding-top: 40px;

    margin: auto;
  }
  .reviews-item {
    margin: 0 10px;
    width: 300px;
    height: 434px;
    background: #000000;
    border-radius: 20px;
    padding: 17px 27px;
  }
  .reviews-img {
    margin: auto;
  }
  .reviews-text {
    padding-top: 33px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.faq {
  padding: 64px 0px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 54px;
  padding-bottom: 20px;
  width: auto;
  margin: auto;
}

.faq-item {
  width: 262px;
  height: 262px;

  margin: 0 10px;
}

.faq-question {
  font-family: Oi;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: #32a071;

  height: 90px;
}

.faq-answer {
  padding-top: 0px;

  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.faq_image {
  margin: auto;
  margin-top: 50px;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 90px 0px;
    margin: auto;
    width: 1440px;
  }
  .faq-container {
    padding-top: 54px;
    width: auto;
    margin: auto;
  }

  .faq-item {
    width: 262px;
    margin: 0 10px;
  }
}
.gallery {
  width: 375px;

  margin: auto;
  padding: 10px 0px 100px;
}

.gallery__list {
  width: auto;
  margin: auto;
}
.gallery__item {
  width: 340.05px;
  height: 200.12px;

  overflow: hidden;
  position: relative;
  margin: 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;

    margin: auto;
    padding: 20px 0 100px;
  }

  .gallery__item {
    width: 691.77px;
    height: 410px;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
  }

  .gallery__list {
    width: auto;
  }
}

.footer {
  color: #ffffff;
  padding: 2px 16px 100px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 6px;
}
.footer-text {
  font-family: Oi;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.92px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #32a071;
}

.footer-copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 12.42px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 20px 199px;
  }
  .footer-container {
    display: flex;

    align-items: center;

    gap: 40px;
  }

  .footer-wrapper {
    gap: 4px;
  }
  .footer-text {
    font-family: Oi;
    font-size: 38px;
    font-weight: 400;
    line-height: 45.84px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-size: 12px;
    font-weight: 400;
    line-height: 12.42px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 124px 16px 116px;
}
.policy-terms-title {
  font-family: Oi;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #32a071;
  text-transform: uppercase;
}

.policy-terms-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 20.69px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-size: 20px;
  font-weight: 400;
  line-height: 20.69px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-size: 20px;
  font-weight: 400;
  line-height: 20.69px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20.69px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20.69px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #fff;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 166px 240px 100px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Oi;
    font-size: 48px;
    font-weight: 400;
    line-height: 75.84px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 20.69px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-size: 20px;
    font-weight: 400;
    line-height: 20.69px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-size: 20px;
    font-weight: 400;
    line-height: 20.69px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20.69px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-size: 20px;
    font-weight: 400;
    line-height: 20.69px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
